<div class="container-fluid header-row">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 sol-xs-4 logo-div">
      <div><img class="img-logo" src="images/Books.jpg"><span class="app-title">Books Mania</span></div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 sol-xs-8 nav-div">
      <ul class="nav navbar-nav navbar-right">
	<li ng-class="selectedTab == 'home' ? 'active' : 'others'"><a href="javascript:void(0)" ng-click="tabSelection('home')">Find your book</a></li>
	</ul>
    </div>
    </div>
    </div>

